name: eufy-ha-mqtt-bridge

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      version:
        description: 'Image Tag'     
        required: true

jobs:
  eufy-ha-mqtt-bridge:
    runs-on: ubuntu-latest

    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: eufy-ha-mqtt-bridge/
          file: eufy-ha-mqtt-bridge/Dockerfile-real
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          push: true
          tags: |
            maxwinterstein/homeassistant-addon-eufy-ha-mqtt-bridge:${{ github.event.inputs.version }}